version: '3.8'

services:
  admin:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}:prod
    networks:
      - app
    restart: unless-stopped

  webserver:    
    build:
      context: ./docker/webserver
    ports:
      - "${APP_PORT_HTTP}:80"
      - "${APP_PORT_HTTPS}:443"
    networks:
      - app
    depends_on:
      - admin
    restart: unless-stopped

networks:
  app:
    driver: bridge
    name: ${DOCKERHUB_APP_ID}.app.prod
