version: '3.8'

services:
  admin:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}:staging
    container_name: ${DOCKERHUB_APP_ID}.admin.staging
    volumes:
      - ./:/app
      - staging-admin-dependencies:/app/node_modules
      - staging-admin-build:/app/.next
  
  webserver:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}-webserver:staging
    container_name: ${DOCKERHUB_APP_ID}.webserver.staging

volumes:
  staging-admin-dependencies:
    name: ${DOCKERHUB_APP_ID}.admin.dependencies.staging
  staging-admin-build:
    name: ${DOCKERHUB_APP_ID}.admin.build.staging
