version: '3.8'

services:
  admin:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}:staging
    container_name: ${DOCKERHUB_APP_ID}.admin.staging
  
  webserver:
    container_name: ${DOCKERHUB_APP_ID}.webserver.staging
