version: '3.8'

services:
  admin:
    image: ${DOCKERHUB_USERNAME}/${DOCKERHUB_APP_ID}:prod
    container_name: ${DOCKERHUB_APP_ID}.admin

  webserver:    
    container_name: ${DOCKERHUB_APP_ID}.webserver

networks:
  app:
    driver: bridge
    name: ${DOCKERHUB_APP_ID}.app
