name: Build and Push to Production

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push webserver image
      uses: docker/build-push-action@v5
      with:
        context: ./docker/webserver
        file: ./docker/webserver/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_APP_ID }}-webserver:prod
        build-args: |
          SERVER_NAME=${{ secrets.PRODUCTION_APP_DOMAIN_NAME }}

    - name: Build and push frontend image
      uses: docker/build-push-action@v5
      with:
        context: ./
        file: ./docker/admin/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_APP_ID }}:prod
        build-args: |
          NEXT_PUBLIC_BASE_API_URL=${{ secrets.PRODUCTION_NEXT_PUBLIC_BASE_API_URL }}
    
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_HOST }}
        port: ${{ secrets.VPS_PORT }}
        username: ${{ secrets.VPS_USER }}
        key: |
          ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /opt/${{ secrets.DOCKERHUB_APP_ID }}/production
          git pull

          docker-compose pull
          docker-compose -p ${{ secrets.DOCKERHUB_APP_ID }}-prod up -d --force-recreate --remove-orphans
